@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
  /* background-color: rgb(33, 33, 33); */
  /* color : white */
  margin: 0px;
  padding: 0px;
}

.title{
  color: rgb(151, 242, 14) ;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: rgb(151, 242, 14);
}

.banner{
  background-image: url("https://static.vecteezy.com/system/resources/previews/004/674/997/original/abstract-green-light-shadow-geometric-on-dark-grey-design-modern-futuristic-technology-background-vector.jpg");
  margin-top: 0px;
  height: 100vm;
  background-repeat : no-repeat;
  background-size: cover;
}
